*{
  margin: 0px;
  padding: 0px;

}

:root {
  --azul: #40E0D0;
}

body{
  font-family: Montserrat, sans-serif;
  background-color: rgb(188, 188, 188);
  
}

.container{
  margin-inline: auto;
  margin-inline-start: 80px;
  margin-inline-end: 80px;

}
.title, h3 {
  margin-top: 20px;
  text-align: center;
}


/* campos de escrita nome, cantor, categoria, datalancamento */
.register-box{
  margin-top: 20px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px,1fr));
}

.register-input, .register-button{ 
  margin-top: 5px;
  margin-right: 5px;
  padding-inline: 5px;

  border-style: solid;
  border-radius: 8px;
}

.register-input{
  height: 30px;
}

/* botao de salvar */
.register-button{
  
  height: 35px;
  width: 100px;
}

